<footer>
    <div class="container">
        <div class="row" style="margin-bottom: 0px;">
            <div class="col l6 s12">
                <h5 class="white-text">Pushgeek is made with ❤️ by RainDigi IT Pvt. Ltd.</h5>
            </div>
        </div>
    </div>

</footer>