*/node_modules
node_modules
npm-debug.log
build
.DS_Store
log
/*.env
./public/test1.js
./public/sw-test.js
./public/pushenggage.js
./nginx/Dockerfile-custome
./public/sw-test.js
./public/test1.js
./config/keys_prod.js
./config/keys_dev.js
./src/st.js
./kp-push-2020.pem
./src/model/user2.js
./src/model/user1.js
.env.bak
# Build
build

# package.json 25.sep.2020
# package.json
#package-*.json
# environment variables
.env
.env.bak
/src/config/*-local.json
.vscode
**.DS_Store
docker.env
.cert
.pem
setting.json
clusters/proxy-manager/data/*
clusters/proxy-manager/letsencrypt/*