#session secret SESSION_SECRET = 
SESSION_SECRET=
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DATABASE=web-push
VAPID_PUBLIC_KEYS=Generated_Public_Key
VAPID_PRIVATE_KEYS=Generated_Private_Key
MAIL_HOST=smtp.Host_Name
MAIL_PORT=smtp_port
MAIL_USER=smtp_username
MAIL_PASS=smtp_password
REDIS_HOST=127.0.0.1
REDIS_PORT=6379