#session secret SESSION_SECRET = 
SESSION_SECRET=
HOSTNAME=localhost
APP_HOSTNAME=localhost
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DATABASE=web-push
VAPID_PUBLIC_KEYS=Generated_Public_Key
VAPID_PRIVATE_KEYS=Generated_Private_Key
MAIL_HOST=smtp.Host_Name
MAIL_PORT=smtp_port
MAIL_USER=smtp_username
MAIL_PASS=smtp_password
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_URL=redis://127.0.0.1:6379
REDIS_TLS=false #default it is false
# MINIO_ENDPOIN=play.min.io
MINIO_ENDPOIN=127.0.0.1
MINIO_PORT=9000
MINIO_SSL_STATUS=true
MINIO_ACCESS_KEY=Q3AM3UQ867SPQQA43P2F
MINIO_SECRET_KEY=zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG
BULLMQ=false
# Global properties:
# See https://developer.rollout.com/ for more information regarding these properties.

#PORT=5500
#Default is 5500

#LOG_LEVEL=debug

#GLOBAL_SECRET=YOUR_JWT_SECRET
#Default is nodeauthsecret

#ADMIN_EMAIL=your_admin_email
#Default is: admin@rollout.com

#ADMIN_PASSWORD=your_password;
#Default is: adminadmin

#SUPER_PASSWORD=ROLLOUT_SUPER_ADMIN_PASSWORD 
#Default is: nodeauthsecret

#CREATE_INITIAL_DATA=false

## Database

#MONGODB_URI=YOUR_MONGO_URI
#Default is : mongodb://localhost/web-push

#MONGODB_LOGS_URI=YOUR_MONGO_URI_FOR_LOGGING
#Default is : mongodb://localhost/web-logs

## Email

#EMAIL_ENABLED=true
#Default is false
ROUTELOGGER_ENABLED=true
TASK_SCHEDULER_ENABLED=true
#EMAIL_BASEURL=https://YOOURDOMAIN.com/dashboard
#Default is : https://console.rollout.com/v2/dashboard

#EMAIL_HOST=YOUR_EMAIL_HOST
#EMAIL_USERNAME=YOUR_EMAIL_USERNAME
#EMAIL_SECURE=true #defaults to 587 if is secure is false or 465 if true
#EMAIL_PORT=25
#EMAIL_PASSWORD=YOUR_SMTP_PASSWORD
#EMAIL_FROM_ADDRESS=FROM_ADDRESS

DOMAIN=localhost #default SERVER DOMAIN ADDRESS NAME is localhost change it by your own FQCDN

#For multiline support see here:
#dotenv -> https://github.com/bkeepers/dotenv#multi-line-values

#EMAIL_ASSIGN_REQUEST_HTML_TEMPLATE=
#EMAIL_POOLED_REQUEST_HTML_TEMPLATE=
#EMAIL_RESET_PASSWORD_HTML_TEMPLATE=
#EMAIL_PASSWORD_CHANGED_HTML_TEMPLATE=
#EMAIL_EXUSER_INVITED_HTML_TEMPLATE=
#EMAIL_NEWUSER_INVITED_HTML_TEMPLATE=
#EMAIL_VERIFY_HTML_TEMPLATE=
#EMAIL_SEND_TRANSCRIPT_HTML_TEMPLATE=


#DISABLE_TRANSCRIPT_VIEW_PAGE=true
#Disable view transcript messages using request_id field. Pay attention to security for this feature. Default is false

# Chat channel. ATTENTION!!!! THESE PROPERTIES MUST BE CONFIGURED.

# important
#FIREBASE_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\***************\n-----END PRIVATE KEY-----\n
#FIREBASE_CLIENT_EMAIL=firebase-adminsdk-******@************.iam.gserviceaccount.com
#FIREBASE_PROJECT_ID=CHANGEIT

# Chat Engine

CHAT_ENABLED=true

CHAT_ENGINE=mqtt
#CHAT_ENGINE=firebase

# Native Chat Engine
CHAT_URL=http://localhost:8004

# Firebase Chat Engine
#CHAT_URL=https://CHANGEIT.cloudfunctions.net

# optional properties
#CHAT_APPID=rolloutchat
#Default is rolloutchat

CHAT_JWT_SECRET=tokenKey
#Used by Native ChatEngine for generating JWT tokens

# Native Chat Engine
CHAT_ADMIN_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIzNDU2MTBkNy03MmYxLTQ5OWUtODQzMS0xMTNhZWJkOWVmOTgiLCJzdWIiOiIxMDAtQVBJQURNSU4iLCJzY29wZSI6WyJyYWJiaXRtcS5yZWFkOiovKi8qIiwicmFiYml0bXEud3JpdGU6Ki8qLyoiLCJyYWJiaXRtcS5jb25maWd1cmU6Ki8qLyoiXSwiY2xpZW50X2lkIjoiMTAwLUFQSUFETUlOIiwiY2lkIjoiMTAwLUFQSUFETUlOIiwiYXpwIjoiMTAwLUFQSUFETUlOIiwidXNlcl9pZCI6IjEwMC1BUElBRE1JTiIsImFwcF9pZCI6InRpbGVjaGF0IiwiaWF0IjoxNjE0OTQzNDkyLCJleHAiOjE5MjU5ODM0OTIsImF1ZCI6WyJyYWJiaXRtcSIsIjEwMC1BUElBRE1JTiJdLCJraWQiOiJ0aWxlZGVzay1rZXkiLCJ0aWxlZGVza19hcGlfcm9sZXMiOiJhZG1pbiJ9.KptGMsTKjd3wUiiP1GGSTYqW1XXK1vjSRJnetC3wjxU
SYNC_ROLLOUT_GROUPS=false
SYNC_JOIN_LEAVE_GROUP_EVENT=true
# Firebase Chat Engine
#CHAT_ADMIN_TOKEN=chat-secret-orgAa,
#Default for firebase engine is: chat-secret-orgAa,




# optional properties for rollout-server docker installation but required for docker-compose used by clients (dashboard, ionic, widget)
# important
#FIREBASE_APIKEY=CHANGEIT
#FIREBASE_AUTHDOMAIN=CHANGEIT.firebaseapp.com
#FIREBASE_DATABASEURL=https://CHANGEIT.firebaseio.com
#FIREBASE_STORAGEBUCKET=CHANGEIT.appspot.com
#FIREBASE_MESSAGINGSENDERID=********
#FIREBASE_APP_ID=CHANGEIT





#WS_URL=ws://localhost:3000/
# WebSocket endpoint.

## Widget settings

# important
WIDGET_LOCATION=http://localhost:4200/launch.js
#Default is http://localhost:4200/

WIDGET_TEST_LOCATION=http://localhost:4200/assets/test_widget_page/index.html

# RASA SERVER CONFIG
# in-server RASA PROXY Config
# API_ENDPOINT=https://api.rollout.com/v2
# RASAserver=http://34.254.234.17

#WS_HISTORY_REQUESTS_LIMIT=50
#Default is 100


#WS_SERVER_PATH=/v2/ws
#Default is /

#WEBHOOK_ORIGIN=https://api.YOURDOMAIN.com
#Default is http://localhost:5500

# Enterprise modules. For enterprise modules configuration please refer to https://docs.rollout.com/knowledge-base/install-rollout-enterprise-with-kubernetes/

#Enable and configure these properties if you are using npm (or Heroku) installation. This is not required if you are using Docker Enterprise images. 
#ENABLE_ENTERPRISE_MODULE=true 

#NPM_TOKEN=XXXX
#Enable enterprise module with npm private token