<section>
    <div class="row">
        <div class="col s10">
            <div>
                <h3>Billings</h3>
                <p style="font-size:22px;font-color:#777;margin-top:5vh;margin-bottom:5vh;">
                    Billing Page for beta-testers.
                </p>
            </div>
        </div>
    </div>
</section>