<section class="docs-head bg-primary py-3"
    style="background-image: url(&quot;/images/b4ba92a9-0956-484b-9a3f-68ef4d550fd4_bg-home-cta.svg&quot;)">
    <div class="container grid">
        <div>
            <h1 class="xl text-white">Docs</h1>
            <p class="lead">
                Learn how to work with the Pushgeek platform, and integrate your application with pushgeek SDK
            </p>
        </div>
        <img src="img/docs.png" alt="">
    </div>
</section>
<!-- Docs main -->
<section class="docs-main my-4">
    <div class="container grid">
        <div class="md:fixed card bg-light p-3 top-0" style="top:-403px !important;padding-top: 3rem;
            padding-bottom: 3rem;
            box-shadow: 0px 20px 100px -10px rgb(66 71 91 / 10%);
            background: linear-gradient(
              -168.39deg,
              #ffffff -278.56%,
              #6d6d6d -78.47%,
              #11101d 91.61%
            );
            border-radius: 20px;
            display: flex;
            margin-top: 2rem;
            margin-bottom: 2rem;
            margin-left: 2rem;
            margin-right: 2rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 2rem;
            padding-right: 2rem;">
            <h3 class="my-2 border-b-2 border-indigo-200" style="color:gray !important;">Essentials</h3>
            <nav>
                <ul>
                    <li><a class="text-white" href="#">Introduction</a></li>
                    <li><a class="text-white" href="#about">About Pushgeek</a></li>
                    <li><a class="text-white" href="#install">Installation</a></li>
                </ul>
            </nav>

            <h3 class="my-2 border-b-2 border-indigo-200" style="color:gray !important;">Deployment</h3>
            <nav>
                <ul>
                    <li><a class="text-white" href="#">Setting up a container</a></li>
                    <li><a class="text-white" href="#">Using the CLI</a></li>
                    <li><a class="text-white" href="#">Managing resources</a></li>
                    <li><a class="text-white" href="#">Upgrade & downgrade</a></li>
                </ul>
            </nav>
        </div>
        <div class="card" id="about" style="padding-top: 3rem;
            padding-bottom: 3rem;
            box-shadow: 0px 20px 100px -10px rgb(66 71 91 / 10%);
            background: linear-gradient(
              -168.39deg,
              #ffffff -278.56%,
              #6d6d6d -78.47%,
              #11101d 91.61%
            );
            border-radius: 20px;
            display: flex;
            margin-top: 2rem;
            margin-bottom: 2rem;
            margin-left: 2rem;
            margin-right: 2rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 2rem;
            padding-right: 2rem;">
            <h2 class="border-b-2 border-indigo-200" id="#about" style="color:rgb(255, 255, 255) !important;">Introduction</h2>
            <p class="text-white">Rollout is simple distributed large scaled push-messaging and drip system which is build on the top of
                nodejs and many
                more amazing open-source supporting libraries it support's many features standalone</p>
            <ol class="text-white">
                <li>Android push notification</li>
                <li>In-app notification</li>
                <li>Web Push notification</li>
                <li>iOS Push notification</li>
                <li>Segment Targeting</li>
                <li>Geo targeting notification</li>
                <li>Campaing Managment</li>
                <li>Email Marketing</li>
                <li>Lead Generation</li>
                <li>In-build Marketing CRM</li>
                <li>In-app support chat</li>
                <li>support web chat</li>
                <li>many more coming-soon..</li>

            </ol>

            <div class="alert alert-success flex flex-row gap-2">
                <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>rollout is open-source?
            </div>

            <h3 style="color:rgb(255, 255, 255) !important;">Yes, Absolutely it is a open-source project</h3>
            <p class="text-white">We only charge for support and services or custome changes.</p>
            <div class="inline-flex ml-10 transform hover:text-white">
                {{!-- <a href="#install"
                    class="transform hover:scale-110 motion-reduce:transform-none inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-text-50">
                    Install CLI
                </a> --}}

                <button href="#install" style="border-radius: 10px;
                                                                  font-weight: 500;
                                                                  font-size: 18px;
                                                                  padding-top: 1rem;
                                                                  padding-bottom: 1rem;
                                                                  padding-left: 1.5rem;
                                                                  padding-right: 1.5rem;
                                                                  color: rgb(0 4 15/1);
                                                                  outline: 2px solid transparent;
                                                                  outline-offset: 2px;
                                                                  background: linear-gradient(
                                                                    157.81deg,
                                                                    #def9fa -43.27%,
                                                                    #bef3f5 -21.24%,
                                                                    #9dedf0 12.19%,
                                                                    #7de7eb 29.82%,
                                                                    #5ce1e6 51.94%,
                                                                    #33bbcf 90.29%
                                                                  );
                                                                " type="button">
                    Install CLI
                </button>
            </div>


            <h3 style="color:rgb(255, 255, 255) !important;">Supported Container on Platform's</h3>
            <ul class="text-white">
                <li>Windows</li>
                <li>Mac OS</li>
                <li>Linux</li>
            </ul>
            <h3 style="color:rgb(255, 255, 255) !important;">Requirements</h3>
            <ul class="text-white">
                <li>Node.js v16 or higher</li>
            </ul>

            <h3 id="install" style="color:rgb(255, 255, 255) !important;">Install</h3>
            <p class="text-white">Mac (Homebrew)</p>
            <pre
                class="flex flex-justify text-center overflow-x-auto p-6 text-sm leading-snug language-html text-white bg-black bg-opacity-75"><code id="brew" class="flex text-center text-white language-html" style="height:2rem !important;overflow:hidden;">$ brew install pushgeek-cli  {{{copyCode cli.[0]}}}</code></pre>
            <p class="text-white">npm</p>
            <pre
                class="flex flex-justify text-center scrollbar-none overflow-x-auto p-6 text-sm leading-snug language-html text-white bg-black bg-opacity-75"><code id="npm"class="flex text-center text-white language-html" style="height:2rem !important;overflow:hidden;">$ npm install pushgeek-cli  {{{copyCode cli.[1]}}}</code></pre>
            <p class="text-white">yarn</p>
            <pre
                class="flex flex-justify text-center scrollbar-none overflow-x-auto p-6 text-sm leading-snug language-html text-white bg-black bg-opacity-75"><code id="yarn" class="flex text-center text-white language-html" style="height:2rem !important;overflow:hidden;">$ yarn install pushgeek-cli  {{{copyCode cli.[2]}}}</code></pre>
            <p class="text-white">pnpm</p>
            <pre
                class="flex flex-justify text-center scrollbar-none overflow-x-auto p-6 text-sm leading-snug language-html text-white bg-black bg-opacity-75"><code id="pnpm" class="flex text-center text-white language-html" style="height:2rem !important;overflow:hidden;">$ pnpm install pushgeek-cli  {{{copyCode cli.[3]}}}</code></pre>

        </div>
    </div>
</section>