<section class="docs-head bg-primary py-3"
    style="background-image: url(&quot;/images/b4ba92a9-0956-484b-9a3f-68ef4d550fd4_bg-home-cta.svg&quot;)">
    <div class="container grid">
        <div>
            <h1 class="xl text-white">Docs</h1>
            <p class="lead">
                Learn how to work with the Pushgeek platform, and integrate your application with pushgeek SDK
            </p>
        </div>
        <img src="img/docs.png" alt="">
    </div>
</section>
<!-- Docs main -->
<section class="docs-main my-4">
    <div class="container grid">
        <div class="md:fixed card bg-light p-3 top-0" style="top:-403px !important">
            <h3 class="my-2 border-b-2 border-indigo-200" style="color:gray !important;">Essentials</h3>
            <nav>
                <ul>
                    <li><a class="text-primary" href="#">Introduction</a></li>
                    <li><a class="text-primary" href="#about">About Pushgeek</a></li>
                    <li><a class="text-primary" href="#install">Installation</a></li>
                </ul>
            </nav>

            <h3 class="my-2 border-b-2 border-indigo-200" style="color:gray !important;">Deployment</h3>
            <nav>
                <ul>
                    <li><a class="text-primary" href="#">Setting up a container</a></li>
                    <li><a class="text-primary" href="#">Using the CLI</a></li>
                    <li><a class="text-primary" href="#">Managing resources</a></li>
                    <li><a class="text-primary" href="#">Upgrade & downgrade</a></li>
                </ul>
            </nav>
        </div>
        <div class="card" id="about">
            <h2 class="border-b-2 border-indigo-200" id="#about" style="color:gray !important;">Introduction</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio illo facere perferendis laborum?
                Similique recusandae incidunt eos dolorum aliquam ipsam unde perspiciatis laudantium totam quam laborum
                velit, at maxime minus?</p>

            <div class="alert alert-success flex flex-row gap-2">
                <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, animi?
            </div>

            <h3 style="color:gray !important;">Lorem, ipsum dolor.</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima totam magni eius vitae velit id, atque
                veritatis! At, vero porro.</p>
            <div class="inline-flex ml-10 transform hover:text-white">
                <a href="#install"
                    class="transform hover:scale-110 motion-reduce:transform-none inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-text-50">
                    Install CLI
                </a>
            </div>

            <h3 style="color:gray !important;">Requirements</h3>
            <ul>
                <li>Windows 10, Mac OSX, Linux</li>
                <li>Node.js v12 or higher</li>
            </ul>

            <h3 id="install" style="color:gray !important;">Install</h3>
            <p>Mac (Homebrew)</p>
            <pre
                class="scrollbar-none overflow-x-auto p-6 text-sm leading-snug language-html text-white bg-black bg-opacity-75"><code class="language-html" style="height:2rem !important;">$ brew install pushgeek-cli</code></pre>
            <p>NPM</p>
            <pre
                class="scrollbar-none overflow-x-auto p-6 text-sm leading-snug language-html text-white bg-black bg-opacity-75"><code class="language-html" style="height:2rem !important;">$ npm install pushgeek-cli</code></pre>
            <p>Yarn</p>
            <pre
                class="scrollbar-none overflow-x-auto p-6 text-sm leading-snug language-html text-white bg-black bg-opacity-75"><code class="language-html" style="height:2rem !important;">$ yarn install pushgeek-cli</code></pre>

        </div>
    </div>
</section>