<section class="docs-head bg-primary py-3"
    style="background-image: url(&quot;/images/b4ba92a9-0956-484b-9a3f-68ef4d550fd4_bg-home-cta.svg&quot;)">
    <div class="container grid">
        <div>
            <h1 class="xl text-white">Docs</h1>
            <p class="lead">
                Learn how to work with the Pushgeek platform, and integrate your application with pushgeek SDK
            </p>
        </div>
        <img src="img/docs.png" alt="">
    </div>
</section>
<!-- Docs main -->
<section class="docs-main my-4">
    <div class="container grid">
        <div class="md:fixed card bg-light p-3 top-0" style="top:-403px !important">
            <h3 class="my-2 border-b-2 border-indigo-200" style="color:gray !important;">Essentials</h3>
            <nav>
                <ul>
                    <li><a class="text-primary" href="#">Introduction</a></li>
                    <li><a class="text-primary" href="#about">About Pushgeek</a></li>
                    <li><a class="text-primary" href="#install">Installation</a></li>
                </ul>
            </nav>

            <h3 class="my-2 border-b-2 border-indigo-200" style="color:gray !important;">Deployment</h3>
            <nav>
                <ul>
                    <li><a class="text-primary" href="#">Setting up a container</a></li>
                    <li><a class="text-primary" href="#">Using the CLI</a></li>
                    <li><a class="text-primary" href="#">Managing resources</a></li>
                    <li><a class="text-primary" href="#">Upgrade & downgrade</a></li>
                </ul>
            </nav>
        </div>
        <div class="card" id="about">
            <h2 class="border-b-2 border-indigo-200" id="#about" style="color:gray !important;">Introduction</h2>
            <p>Rollout is simple distributed large scaled push-messaging and drip system which is build on the top of
                nodejs and many
                more amazing open-source supporting libraries it support's many features standalone</p>
            <ol class="text-primary">
                <li>Android push notification</li>
                <li>In-app notification</li>
                <li>Web Push notification</li>
                <li>iOS Push notification</li>
                <li>Segment Targeting</li>
                <li>Geo targeting notification</li>
                <li>Campaing Managment</li>
                <li>Email Marketing</li>
                <li>Lead Generation</li>
                <li>In-build Marketing CRM</li>
                <li>In-app support chat</li>
                <li>support web chat</li>
                <li>many more coming-soon..</li>

            </ol>

            <div class="alert alert-success flex flex-row gap-2">
                <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>rollout is open-source?
            </div>

            <h3 style="color:gray !important;">Yes, Absolutely it is a open-source project</h3>
            <p>We only charge for support and services or custome changes.</p>
            <div class="inline-flex ml-10 transform hover:text-white">
                <a href="#install"
                    class="transform hover:scale-110 motion-reduce:transform-none inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-text-50">
                    Install CLI
                </a>
            </div>


            <h3 style="color:gray !important;">Supported Container on Platform's</h3>
            <ul>
                <li>Windows</li>
                <li>Mac OS</li>
                <li>Linux</li>
            </ul>
            <h3 style="color:gray !important;">Requirements</h3>
            <ul>
                <li>Node.js v16 or higher</li>
            </ul>

            <h3 id="install" style="color:gray !important;">Install</h3>
            <p>Mac (Homebrew)</p>
            <pre
                class="scrollbar-none overflow-x-auto p-6 text-sm leading-snug language-html text-white bg-black bg-opacity-75"><code id="brew" class="language-html" style="height:2rem !important;overflow:hidden;">$ brew install pushgeek-cli  {{{copyCode cli.[0]}}}</code></pre>
            <p>npm</p>
            <pre
                class="scrollbar-none overflow-x-auto p-6 text-sm leading-snug language-html text-white bg-black bg-opacity-75"><code id="npm"class="language-html" style="height:2rem !important;overflow:hidden;">$ npm install pushgeek-cli  {{{copyCode cli.[1]}}}</code></pre>
            <p>yarn</p>
            <pre
                class="scrollbar-none overflow-x-auto p-6 text-sm leading-snug language-html text-white bg-black bg-opacity-75"><code id="yarn" class="language-html" style="height:2rem !important;overflow:hidden;">$ yarn install pushgeek-cli  {{{copyCode cli.[2]}}}</code></pre>
            <p>pnpm</p>
            <pre
                class="scrollbar-none overflow-x-auto p-6 text-sm leading-snug language-html text-white bg-black bg-opacity-75"><code id="pnpm" class="language-html" style="height:2rem !important;overflow:hidden;">$ pnpm install pushgeek-cli  {{{copyCode cli.[3]}}}</code></pre>

        </div>
    </div>
</section>