{{!-- <div class="loadingBar"></div>
<div class="surface-scrollOverlay"></div> --}}
<div class="home container-main is-fullhd">
  <div class="slices">
    <section class="hero hero css-czj4x5"
          id="LandingHeader"
          style="
            background-color: #0069ff;
            background-image: url(/images/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
          ">
      <div class="hero-body" style="">
        <div class="container" style="grid-template-columns: 1fr 410px !important;overflow-y:hidden;margin-top:0 !important;">
          <div class="css-fvx1ke e7hmhos0">
            <h1 class="h1 white hero-title css-wpp74j title" data-testid="hero_heading">Welcome to the
              Push Rollout</h1>
            <p class="large white css-wpp74j subtitle" data-testid="hero_subheading" style="
                                font-size: 18px !important;
                                align-items: center !important;
                              ">
              We make it simple to launch in the push messaging
              enggament,scale up as you grow – with an intuitive control
              panel, predictable pricing, team accounts, and more.
            </p>
          </div>
          <div>
            <div class="" data-testid="hero_box" style="padding-top: 3rem;
                                padding-bottom: 3rem;
                                box-shadow: 0px 20px 100px -10px rgb(66 71 91 / 10%);
                                background: linear-gradient(
                                  -168.39deg,
                                  #ffffff -278.56%,
                                  #6d6d6d -78.47%,
                                  #11101d 91.61%
                                );
                                border-radius: 20px;
                                display: flex;
                                margin-top: 1rem;
                                margin-bottom: 1rem;
                                margin-left: 1rem;
                                margin-right: 1rem;
                                padding-top: 1rem;
                                padding-bottom: 1rem;
                                padding-left: 2rem;
                                padding-right: 2rem;
                                position: relative;
                                display: -ms-flexbox;
                                display: flex;
                                -ms-flex-direction: column;
                                flex-direction: column;
                                min-width: 0;
                                word-wrap: break-word;
                                background-color: #fff;
                                background-clip: border-box;
                                border: 1px solid rgba(0,0,0,.125);
                                background-color: #fff !important;
                                box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1) !important;
                                color: #4d4f03 !important;
                                max-width: 100% !important;
                                position: relative !importan
                                ">
              <div class="card-header-title text-white">
                <h1 class="text-white text-center justify-center title" data-testid="hero_box_title">
                  Start In Seconds
                  </h5>
              </div>
              <div class="card-content">
                <form    class="form-align-left css-12sjm0v e7hmhos2"
                      action="http://localhost:5500/register"
                      method="post"
                    >
                      <span class="form-wrapper">
                        <span class="error-text"></span>
                        <input
                          type="text"
                          aria-label="signup button"
                          minlength="2"
                          name="name"
                          id="name"
                          placeholder="First Name"
                          required=""
                        />
                        <input
                          type="email"
                          aria-label="email"
                          name="email"
                          id="email"
                          placeholder="Email Address"
                          required=""
                        />
                        <input
                          type="password"
                          aria-label="password"
                          minlength="8"
                          name="password"
                          id="password"
                          placeholder="Password"
                          required=""
                        />
                        <button
                          tabindex="0"
                          type="submit"
                          style="border-radius: 10px;
                            font-weight: 500;
                            font-size: 18px;
                            padding-top: 1rem;
                            padding-bottom: 1rem;
                            padding-left: 1.5rem;
                            padding-right: 1.5rem;
                            color: rgb(0 4 15/1);
                            outline: 2px solid transparent;
                            outline-offset: 2px;
                            background: linear-gradient( 157.81deg, #def9fa -43.27%, #bef3f5 -21.24%, #9dedf0 12.19%, #7de7eb 29.82%, #5ce1e6 51.94%, #33bbcf 90.29% );
                            transition: all 0.3s ease;
                            cursor: pointer;
                            width: 100%;
                            margin-left: -1px;
                            margin-bottom: -1px;
                            box-shadow: 0 8px 18px rgba(0, 0, 0, 0.397);
                            border-color: #007bff;
                            height: 60px !important;
                            "
                       class="css-32erla is-primary btn"
                        >
                          Sign up with email
                        </button>
                      </span>
                </form>
              </div>
            
              <div class="css-1kwjdzk e7hmhos3 flex flex-row mt-3 py-4 ml-2 mr-2">
                <button tabindex="0" formaction="/auth/google" id="google_button" aria-label="Sign up with Google"
                  class="text-gray-900 text-primary bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 text-center py-1 ml-3 inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 mr-2 mb-2">
                  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="36" height="36" viewBox="0 0 48 48"
                    style="fill:#000000;padding-top:1px;margin-top:5px;">
                    <g id="surface1">
                      <path style=" fill:#FFC107;"
                        d="M 43.609375 20.082031 L 42 20.082031 L 42 20 L 24 20 L 24 28 L 35.304688 28 C 33.652344 32.65625 29.222656 36 24 36 C 17.371094 36 12 30.628906 12 24 C 12 17.371094 17.371094 12 24 12 C 27.058594 12 29.84375 13.152344 31.960938 15.039063 L 37.617188 9.382813 C 34.046875 6.054688 29.269531 4 24 4 C 12.953125 4 4 12.953125 4 24 C 4 35.046875 12.953125 44 24 44 C 35.046875 44 44 35.046875 44 24 C 44 22.660156 43.863281 21.351563 43.609375 20.082031 Z ">
                      </path>
                      <path style=" fill:#FF3D00;"
                        d="M 6.304688 14.691406 L 12.878906 19.511719 C 14.65625 15.109375 18.960938 12 24 12 C 27.058594 12 29.84375 13.152344 31.960938 15.039063 L 37.617188 9.382813 C 34.046875 6.054688 29.269531 4 24 4 C 16.316406 4 9.65625 8.335938 6.304688 14.691406 Z ">
                      </path>
                      <path style=" fill:#4CAF50;"
                        d="M 24 44 C 29.164063 44 33.859375 42.023438 37.410156 38.808594 L 31.21875 33.570313 C 29.210938 35.089844 26.714844 36 24 36 C 18.796875 36 14.382813 32.683594 12.71875 28.054688 L 6.195313 33.078125 C 9.503906 39.554688 16.226563 44 24 44 Z ">
                      </path>
                      <path style=" fill:#1976D2;"
                        d="M 43.609375 20.082031 L 42 20.082031 L 42 20 L 24 20 L 24 28 L 35.304688 28 C 34.511719 30.238281 33.070313 32.164063 31.214844 33.570313 C 31.21875 33.570313 31.21875 33.570313 31.21875 33.570313 L 37.410156 38.808594 C 36.972656 39.203125 44 34 44 24 C 44 22.660156 43.863281 21.351563 43.609375 20.082031 Z ">
                      </path>
                    </g>
                  </svg>
                </button>
            
                <button tabindex="0" formaction="/auth/github" id="github_button" aria-label="signup_button" style="height:50px;"
                  class="text-gray-900 text-primary bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5  text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 mr-3 mb-2">
                  <svg width="30" height="30" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M5.9879 14.1532C5.9879 14.0806 5.91532 14.0081 5.80645 14.0081C5.69758 14.0081 5.625 14.0806 5.625 14.1532C5.625 14.2258 5.69758 14.2984 5.80645 14.2621C5.91532 14.2621 5.9879 14.2258 5.9879 14.1532ZM4.8629 13.9718C4.8629 14.0444 4.93548 14.1532 5.04435 14.1532C5.11694 14.1895 5.22581 14.1532 5.2621 14.0806C5.2621 14.0081 5.22581 13.9355 5.11694 13.8992C5.00806 13.8629 4.89919 13.8992 4.8629 13.9718ZM6.49597 13.9355C6.3871 13.9355 6.31452 14.0081 6.31452 14.1169C6.31452 14.1895 6.42339 14.2258 6.53226 14.1895C6.64113 14.1532 6.71371 14.1169 6.67742 14.0444C6.67742 13.9718 6.56855 13.8992 6.49597 13.9355ZM8.85484 0C3.84677 0 0 3.84677 0 8.85484C0 12.8831 2.50403 16.3306 6.13306 17.5645C6.60484 17.6371 6.75 17.3468 6.75 17.129C6.75 16.875 6.75 15.6411 6.75 14.879C6.75 14.879 4.20968 15.4234 3.66532 13.7903C3.66532 13.7903 3.26613 12.7379 2.68548 12.4839C2.68548 12.4839 1.85081 11.9032 2.72177 11.9032C2.72177 11.9032 3.62903 11.9758 4.1371 12.8468C4.93548 14.2621 6.24194 13.8629 6.78629 13.6089C6.85887 13.0282 7.07661 12.629 7.36694 12.375C5.33468 12.1573 3.26613 11.8669 3.26613 8.38307C3.26613 7.36694 3.55645 6.89516 4.1371 6.24194C4.02823 5.9879 3.7379 5.04436 4.24597 3.77419C4.97177 3.55645 6.75 4.75403 6.75 4.75403C7.47581 4.53629 8.2379 4.46371 9 4.46371C9.79839 4.46371 10.5605 4.53629 11.2863 4.75403C11.2863 4.75403 13.0282 3.52016 13.7903 3.77419C14.2984 5.04436 13.9718 5.9879 13.8992 6.24194C14.4798 6.89516 14.8427 7.36694 14.8427 8.38307C14.8427 11.8669 12.7016 12.1573 10.6694 12.375C10.996 12.6653 11.2863 13.2097 11.2863 14.0806C11.2863 15.2782 11.25 16.8024 11.25 17.0927C11.25 17.3468 11.4315 17.6371 11.9032 17.5282C15.5323 16.3306 18 12.8831 18 8.85484C18 3.84677 13.8992 0 8.85484 0ZM3.52016 12.5202C3.44758 12.5565 3.48387 12.6653 3.52016 12.7379C3.59274 12.7742 3.66532 12.8105 3.7379 12.7742C3.77419 12.7379 3.77419 12.629 3.70161 12.5565C3.62903 12.5202 3.55645 12.4839 3.52016 12.5202ZM3.12097 12.2298C3.08468 12.3024 3.12097 12.3387 3.19355 12.375C3.26613 12.4113 3.33871 12.4113 3.375 12.3387C3.375 12.3024 3.33871 12.2661 3.26613 12.2298C3.19355 12.1935 3.15726 12.1935 3.12097 12.2298ZM4.28226 13.5363C4.24597 13.5726 4.24597 13.6815 4.35484 13.754C4.42742 13.8266 4.53629 13.8629 4.57258 13.7903C4.60887 13.754 4.60887 13.6452 4.53629 13.5726C4.46371 13.5 4.35484 13.4637 4.28226 13.5363ZM3.88306 12.9919C3.81048 13.0282 3.81048 13.1371 3.88306 13.2097C3.95565 13.2823 4.02823 13.3185 4.10081 13.2823C4.1371 13.246 4.1371 13.1371 4.10081 13.0645C4.02823 12.9919 3.95565 12.9556 3.88306 12.9919Z"
                      fill="#24292f" />
                  </svg>
                </button>
              </div>
            </div>
            <div class="css-1t9copt e7hmhos4">
              <p>By signing up you agree to the <a href="/legal/terms-of-service-agreement">Terms of
                  Service.</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section css-1nm38x2" id="logogrid" style="background-color:#f3f5f9;">
      <div class="container">
        <h6 class="h6 darkblue css-8l5wop title">Innovative businesses trust PushGeek</h6>
        <div class="container css-6lpvbd">
          <div id="logogrid-logos" class="no-scroll css-qw5h2l"><img
              data-src="/images/591cf605-46aa-4a7b-8af5-90036c252c97_docker-bab60eeb.svg"
              src="/images/591cf605-46aa-4a7b-8af5-90036c252c97_docker-bab60eeb.svg" alt="Docker logo"
              class="blur-up css-1gdkq7t ls-is-cached lazyloaded" width="140" height="77"><img
              data-src="/images/da244a8e-2546-47b1-aae2-b9824c657708_gitlab-166e2067.svg"
              src="/images/da244a8e-2546-47b1-aae2-b9824c657708_gitlab-166e2067.svg" alt="GitLab logo"
              class="blur-up css-1gdkq7t ls-is-cached lazyloaded" width="101" height="77"><img
              data-src="/images/b3f152c0-5465-45ba-80ab-2cdd258e6bee_slack-e20293da.svg"
              src="/images/b3f152c0-5465-45ba-80ab-2cdd258e6bee_slack-e20293da.svg" alt="Slack logo"
              class="blur-up css-1gdkq7t ls-is-cached lazyloaded" width="127" height="77"><img
              data-src="/images/9351f07e-afbc-439a-a75f-3eca82be9c0e_hashicorp-4431df79.svg"
              src="/images/9351f07e-afbc-439a-a75f-3eca82be9c0e_hashicorp-4431df79.svg" alt="HashiCorp logo"
              class="blur-up css-1gdkq7t ls-is-cached lazyloaded" width="156" height="77"><img
              data-src="/images/01ff74d1-79dd-4f18-888f-4a93a976e61d_wework-be6eab32.svg"
              src="/images/01ff74d1-79dd-4f18-888f-4a93a976e61d_wework-be6eab32.svg" alt="Wework logo"
              class="blur-up css-1gdkq7t ls-is-cached lazyloaded" width="133" height="77"><img
              data-src="/images/1583c145-22f8-402c-96f8-3af919a0df25_splunklogo.svg"
              src="/images/1583c145-22f8-402c-96f8-3af919a0df25_splunklogo.svg" alt="Splunk logo"
              class="blur-up css-1gdkq7t ls-is-cached lazyloaded" width="122" height="77"></div>
        </div><a url="https://www.digitalocean.com/business/" id="logogrid-cta" class="medium arrow css-opqcue"
          href="/business/">See business solutions</a>
      </div>
    </section>
    <section style=" padding-top: 3rem;
                    padding-bottom: 3rem;
                    box-shadow: 0px 20px 100px -10px rgb(66 71 91 / 10%);
                    background: linear-gradient(
                      -168.39deg,
                      #ffffff -278.56%,
                      #6d6d6d -78.47%,
                      #11101d 91.61%
                    );
                    
                    border-radius: 20px;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    margin-top: 4rem;
                    margin-bottom: 4rem;
                    margin-left: 4rem;
                    margin-right: 4rem;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;">
      <div  class="container grid">
        <div class="my-4">
          <h2 class="lg">Getting Start Now</h2>
          <p class="lead my-1 text-white">Push notification service like you've never seen. Fast, efficient
            and scalable
          </p>

        </div>
        <div style="flex-direction: row;
 align-content: center;
 justify-content: flex-end; display: flex;" class="inline-flex ml-10 transform hover:text-white">
          <button href="/register" style="
                                  border-radius: 10px;
                                  font-weight: 500;
                                  font-size: 18px;
                                  padding-top: 1rem;
                                  padding-bottom: 1rem;
                                  padding-left: 1.5rem;
                                  padding-right: 1.5rem;
                                  color: rgb(0 4 15/1);
                                  outline: 2px solid transparent;
                                  outline-offset: 2px;
                                  background: linear-gradient(
                                    157.81deg,
                                    #def9fa -43.27%,
                                    #bef3f5 -21.24%,
                                    #9dedf0 12.19%,
                                    #7de7eb 29.82%,
                                    #5ce1e6 51.94%,
                                    #33bbcf 90.29%
                                  );
                                " type="button">
            Get Started
          </button>
        </div>
        {{!-- <img src="img/cloud.png" alt=""> --}}
      </div>
    </section>
    <!-- Cloud -->
    <section class="cloud bg-primary py-2">
      <div class="container grid">
        <div class="" style="flex: 1 1 0%; display: flex;
 flex-direction: column;">
          <h2 class="lg">Extreme Broadcasting Messaging</h2>
          <p class="lead my-1">Push notification service like you've never seen. Fast, efficient reliable and scalable
          </p>
          <a style=" 
          flex-direction: row !important;
          align-content: center !important;
          justify-content: flex-center !important; 
          display: flex !important;
          border-radius: 10px !important;
          font-weight: 500 !important;
          ont-size: 18px !important;
          padding-top: 1rem !important;
          padding-bottom: 1rem !important;
          padding-left: 1.5rem !important;
          padding-right: 1.5rem !important;
          color: rgb(0 4 15/1);
          align-item:center;
          text-align:center !important;
          justify-content:center;
          outline: 2px solid transparent;
          outline-offset: 2px !important;
          text-decoration:none !important;
          max-width:14rem !important;
          min-width:10rem !important;
          background: linear-gradient(
                      -168.39deg,
                      #ffffff -278.56%,
                      #6d6d6d -78.47%,
                      #11101d 91.61%
                    );" href="/features">📓 Read
              More</a>
        </div>
        <img src="img/cloud.png" alt="">
      </div>
    </section>
    <section class="section flex flex-justify py-20 mx-10">
      <div class="md:flex">
        <div class="md:flex-shrink-0">
          <img class="rounded-lg md:w-56"
            src="https://images.unsplash.com/photo-1556740738-b6a63e27c4df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=80"
            alt="Woman paying for a purchase">
        </div>
        <div class="mt-4 md:mt-0 md:ml-6">
          <div class="uppercase tracking-wide text-sm text-indigo-600 font-bold">
            Marketing
          </div>
          <a href="/doc" class="block mt-1 text-lg leading-tight font-semibold text-gray-900 hover:underline"
            style="color:#000 !important;font-weight:bold;">
            Finding customers for your new business
          </a>
          <p class="mt-2 text-gray-600">
            Getting a new business off the ground is a lot of hard work.
            Here are five ideas you can use to find your first customers.
          <ul class="list-none pl-0 space-y-3 felx flex-col">
            <li class="flex items-start pl-2 space-x-2"><svg class="w-6 h-6 flex-none mt-0.5" fill="none">
                <circle cx="12" cy="12" r="12" fill="#A7F3D0"></circle>
                <path d="M18 8l-8 8-4-4" stroke="#047857" stroke-width="2"></path>
              </svg><strong class="text-base leading-7 font-semibold text-gray-900"><span>99.9% delivery
                  rate</span></strong></li>
            <li class="flex items-start pl-2 space-y-reverse space-x-2" style="--tw-space-y-reverse: 1px !important;">
              <svg class="w-6 h-6 flex-none mt-0.5" fill="none">
                <circle cx="12" cy="12" r="12" fill="#A7F3D0"></circle>
                <path d="M18 8l-8 8-4-4" stroke="#047857" stroke-width="2"></path>
              </svg><strong class="text-base leading-7 font-semibold text-gray-900"><span>Multi platform languages
                  supported SDK available</span></strong>
            </li>
          </ul>
          </p>
          <div class="flex flex-col">

          </div>
        </div>
      </div>
    </section>
    <!-- Languages -->
    <section class="languages ml-10 content-center">
      <h2 class="md text-center my-2" style="color:#000;font-weight:bold;">
        Supported Languages
      </h2>
      <div class="container flex">
        <div class="card" style="background: linear-gradient(
                      -168.39deg,
                      #ffffff -278.56%,
                      #6d6d6d -78.47%,
                      #11101d 91.61%
                    );border-radius:10px;">
          <h4>Node.js</h4>
          <img src="img/logos/node.png" alt="">
        </div>
        <div class="card" style="background: linear-gradient(
                      -168.39deg,
                      #ffffff -278.56%,
                      #6d6d6d -78.47%,
                      #11101d 91.61%
                    );border-radius:10px;">
          <h4>Python</h4>
          <img src="img/logos/python.png" alt="">
        </div>
        <div class="card" style="background: linear-gradient(
                      -168.39deg,
                      #ffffff -278.56%,
                      #6d6d6d -78.47%,
                      #11101d 91.61%
                    );border-radius:10px;">
          <h4>C#</h4>
          <img src="img/logos/csharp.png" alt="">
        </div>
        <div class="card" style="background: linear-gradient(
                      -168.39deg,
                      #ffffff -278.56%,
                      #6d6d6d -78.47%,
                      #11101d 91.61%
                    );border-radius:10px;">
          <h4>Ruby</h4>
          <img src="img/logos/ruby.png" alt="">
        </div>
        <div class="card" style="background: linear-gradient(
                      -168.39deg,
                      #ffffff -278.56%,
                      #6d6d6d -78.47%,
                      #11101d 91.61%
                    );border-radius:10px;">
          <h4>PHP</h4>
          <img src="img/logos/php.png" alt="">
        </div>
        <div class="card" style="background: linear-gradient(
                      -168.39deg,
                      #ffffff -278.56%,
                      #6d6d6d -78.47%,
                      #11101d 91.61%
                    );border-radius:10px;">
          <h4>Scala</h4>
          <img src="img/logos/scala.png" alt="">
        </div>
        <div class="card" style="background: linear-gradient(
                      -168.39deg,
                      #ffffff -278.56%,
                      #6d6d6d -78.47%,
                      #11101d 91.61%
                    );border-radius:10px;">
          <h4>Clojure</h4>
          <img src="img/logos/clojure.png" alt="">
        </div>
      </div>
    </section>
    <section>
      <!-- This example requires Tailwind CSS v2.0+ -->
      <div class="py-12 bg-white">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="lg:text-center">
            <h2 class="text-base text-indigo-600 font-semibold tracking-wide uppercase">Transactions</h2>
            <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
              A better way to send notification and Target your audiance
            </p>
            <span class="border-b-2 border-indigo-200 space-x-20 mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
              Simple event driven and secure target your audiance with native application notification through the
              mobile application and web application.
            </span>
          </div>

          <div class="mt-10">
            <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
              <div class="flex">
                <div class="flex-shrink-0">
                  <div class="flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
                    <!-- Heroicon name: globe-alt -->
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                      stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                    </svg>
                  </div>
                </div>
                <div class="ml-4">
                  <dt class="text-lg leading-6 font-medium text-gray-900">
                    Competitive exchange rates
                  </dt>
                  <dd class="border-b-2 border-red-200 mt-2 text-base text-gray-500">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit
                    eaque, iste dolor cupiditate blanditiis ratione.
                  </dd>
                </div>
              </div>

              <div class="flex">
                <div class="flex-shrink-0">
                  <div class="flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
                    <!-- Heroicon name: scale -->
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                      stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M3 6l3 1m0 0l-3 9a5.002 5.002 0 006.001 0M6 7l3 9M6 7l6-2m6 2l3-1m-3 1l-3 9a5.002 5.002 0 006.001 0M18 7l3 9m-3-9l-6-2m0-2v2m0 16V5m0 16H9m3 0h3" />
                    </svg>
                  </div>
                </div>
                <div class="ml-4">
                  <dt class="text-lg leading-6 font-medium text-gray-900">
                    No hidden fees
                  </dt>
                  <dd class="border-b-2 border-red-200 mt-2 text-base text-gray-500">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit
                    eaque, iste dolor cupiditate blanditiis ratione.
                  </dd>
                </div>
              </div>

              <div class="flex">
                <div class="flex-shrink-0">
                  <div class="flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
                    <!-- Heroicon name: lightning-bolt -->
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                      stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13 10V3L4 14h7v7l9-11h-7z" />
                    </svg>
                  </div>
                </div>
                <div class="ml-4">
                  <dt class="text-lg leading-6 font-medium text-gray-900">
                    Transfers are instant
                  </dt>
                  <dd class="border-b-2 border-red-200 mt-2 text-base text-gray-500">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit
                    eaque, iste dolor cupiditate blanditiis ratione.
                  </dd>
                </div>
              </div>

              <div class="flex">
                <div class="flex-shrink-0">
                  <div class="flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
                    <!-- Heroicon name: annotation -->
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                      stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
                    </svg>
                  </div>
                </div>
                <div class="ml-4">
                  <dt class="text-lg leading-6 font-medium text-gray-900">
                    Mobile notifications
                  </dt>
                  <dd class="border-b-2 border-red-200 mt-2 text-base text-gray-500">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit
                    eaque, iste dolor cupiditate blanditiis ratione.
                  </dd>
                </div>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </section>
    {{> partials/_subscribenews}}
  </div>
</div>