{{!-- <div class="loadingBar"></div>
<div class="surface-scrollOverlay"></div> --}}
<div class="home container-main is-fullhd">
    <div class="slices">
        <section class="hero hero css-czj4x5" id="LandingHeader"
            style="background-color:#0069ff;background-image:url(/images/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg)">
            <div class=" hero-body">
                <div class="container">
                    <div class="css-fvx1ke e7hmhos0">
                        <h1 class="h1 white hero-title css-wpp74j title" data-testid="hero_heading">Welcome to the
                            Push Rollout</h1>
                        <p class="large white css-wpp74j subtitle" data-testid="hero_subheading">We make it simple to
                            launch in the push messaging enggament,scale up as you grow – with an intuitive control
                            panel, predictable
                            pricing, team accounts, and more.</p>
                    </div>
                    <div>
                        <div class="card css-1hugv3f" data-testid="hero_box">
                            <div class="card-header-title css-hyfkp">
                                <h5 class="h5 darkblue css-wpp74j title" data-testid="hero_box_title">Start Now Seconds
                                </h5>
                            </div>
                            <div class="card-content">
                                <form class="form-align-left css-12sjm0v e7hmhos2"
                                    action="https://pushgeek.com/register" method="post">
                                    <span class="form-wrapper">
                                        <span class="error-text"></span>
                                        <input type="text" aria-label="signup button" minlength="2" name="user[name]"
                                            placeholder="First Name" required="">
                                        <input type="email" aria-label="email" name="user[email]"
                                            placeholder="Email Address" required="">
                                        <input type="password" aria-label="password" minlength="8" name="user[password]"
                                            placeholder="Password" required="">
                                        <button tabindex="0" type="submit"
                                            class="css-32erla is-primary btn btn-primary">Sign up
                                            with email</button>
                                    </span>
                                </form>
                            </div>
                            {{!-- <div class="showcase-form card"> --}}
                            {{!-- <h2>Request a Demo</h2> --}}

                            {{!-- netlify form integration --}}
                            <!--  <form name="contact" netlify-honeypot="bot-field" method="POST" data-netlify="true">
                                                    <input type="hidden" name="form-name" value="contact">
                                                    <p class="hidden">
                                                        <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
                                                      </p>
                                                    <div class="form-control">
                                                        <input type="text" name="name" placeholder="Name" required>
                                                    </div>
                                                    <div class="form-control">
                                                        <input type="text" name="company" placeholder="Company Name" required>
                                                    </div>
                                                    <div class="form-control">
                                                        <input type="email" name="email" placeholder="Email" required>
                                                    </div>
                                                    <input type="submit" value="Send" class="btn btn-primary">
                                                </form> -->
                            {{!-- <form>
                                <div class="form-control">
                                    <input type="text" name="name" placeholder="Name" required>
                                </div>
                                <div class="form-control">
                                    <input type="text" name="company" placeholder="Company Name" required>
                                </div>
                                <div class="form-control">
                                    <input type="email" name="email" placeholder="Email" required>
                                </div>
                                <input type="submit" value="Send" class="btn btn-primary">
                            </form> --}}
                            {{!-- </div> --}}
                            <div class="css-1kwjdzk e7hmhos3">
                                <button tabindex="0" formaction="/auth/google" id="Sign up with Google"
                                    aria-label="Sign up with Google" class="css-re7ijt button">
                                    <img data-src="/images/8d18ab05-0db4-4fd7-95d1-c5fbc4b83fc2_icon-google.svg"
                                        src="/images/8d18ab05-0db4-4fd7-95d1-c5fbc4b83fc2_icon-google.svg"
                                        alt="Sign up with Google"
                                        class="null blur-up css-1pq2esu ls-is-cached lazyloaded">Sign up with
                                    Google</button>
                                <button tabindex="0" formaction="/auth/github" id="github_button"
                                    aria-label="signup_button" class="css-18czx2n button"><img
                                        data-src="/images/ae808fab-d9d7-458e-b368-05344b7ad308_icon-github.svg"
                                        src="/images/ae808fab-d9d7-458e-b368-05344b7ad308_icon-github.svg" alt="icon"
                                        class="null blur-up css-1pq2esu ls-is-cached lazyloaded"></button>
                            </div>
                        </div>
                        <div class="css-1t9copt e7hmhos4">
                            <p>By signing up you agree to the <a href="/legal/terms-of-service-agreement">Terms of
                                    Service.</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section css-1nm38x2" id="logogrid" style="background-color:#f3f5f9;">
            <div class="container">
                <h6 class="h6 darkblue css-8l5wop title">Innovative businesses trust PushGeek</h6>
                <div class="container css-6lpvbd">
                    <div id="logogrid-logos" class="no-scroll css-qw5h2l"><img
                            data-src="/images/591cf605-46aa-4a7b-8af5-90036c252c97_docker-bab60eeb.svg"
                            src="/images/591cf605-46aa-4a7b-8af5-90036c252c97_docker-bab60eeb.svg" alt="Docker logo"
                            class="blur-up css-1gdkq7t ls-is-cached lazyloaded" width="140" height="77"><img
                            data-src="/images/da244a8e-2546-47b1-aae2-b9824c657708_gitlab-166e2067.svg"
                            src="/images/da244a8e-2546-47b1-aae2-b9824c657708_gitlab-166e2067.svg" alt="GitLab logo"
                            class="blur-up css-1gdkq7t ls-is-cached lazyloaded" width="101" height="77"><img
                            data-src="/images/b3f152c0-5465-45ba-80ab-2cdd258e6bee_slack-e20293da.svg"
                            src="/images/b3f152c0-5465-45ba-80ab-2cdd258e6bee_slack-e20293da.svg" alt="Slack logo"
                            class="blur-up css-1gdkq7t ls-is-cached lazyloaded" width="127" height="77"><img
                            data-src="/images/9351f07e-afbc-439a-a75f-3eca82be9c0e_hashicorp-4431df79.svg"
                            src="/images/9351f07e-afbc-439a-a75f-3eca82be9c0e_hashicorp-4431df79.svg"
                            alt="HashiCorp logo" class="blur-up css-1gdkq7t ls-is-cached lazyloaded" width="156"
                            height="77"><img data-src="/images/01ff74d1-79dd-4f18-888f-4a93a976e61d_wework-be6eab32.svg"
                            src="/images/01ff74d1-79dd-4f18-888f-4a93a976e61d_wework-be6eab32.svg" alt="Wework logo"
                            class="blur-up css-1gdkq7t ls-is-cached lazyloaded" width="133" height="77"><img
                            data-src="/images/1583c145-22f8-402c-96f8-3af919a0df25_splunklogo.svg"
                            src="/images/1583c145-22f8-402c-96f8-3af919a0df25_splunklogo.svg" alt="Splunk logo"
                            class="blur-up css-1gdkq7t ls-is-cached lazyloaded" width="122" height="77"></div>
                </div><a url="https://www.digitalocean.com/business/" id="logogrid-cta" class="medium arrow css-opqcue"
                    href="/business/">See business solutions</a>
            </div>
        </section>
        <section class="section css-1chpxny"
            style="background-image: url(&quot;/images/b4ba92a9-0956-484b-9a3f-68ef4d550fd4_bg-home-cta.svg&quot;); background-color: rgb(0, 105, 255);">
            <div class="container grid">
                <div class="text-center my-4">
                    <h2 class="lg">Getting Start Now</h2>
                    <p class="lead my-1 text-white">Push notification service like you've never seen. Fast, efficient
                        and scalable
                    </p>

                </div>
                <div>
                    <a href="/register" class=""><button tabindex="0" type="submit"
                            class="css-32erla is-primary btn btn-primary">Click For Register</button></a>
                </div>
                {{!-- <img src="img/cloud.png" alt=""> --}}
            </div>
        </section>
        <!-- Cloud -->
        <section class="cloud bg-primary my-2 py-2">
            <div class="container grid">
                <div class="text-center">
                    <h2 class="lg">Extreme Broadcasting Messaging</h2>
                    <p class="lead my-1">Push notification service like you've never seen. Fast, efficient and scalable
                    </p>
                    <a href="features.html"><button tabindex="0" type="submit"
                            class="css-32erla is-primary btn btn-primary my-5">Read More</button></a>
                </div>
                <img src="img/cloud.png" alt="">
            </div>
        </section>

        <!-- Languages -->
        <section class="languages">
            <h2 class="md text-center my-2" style="color:#000;font-weight:bold;">
                Supported Languages
            </h2>
            <div class="container flex">
                <div class="card">
                    <h4>Node.js</h4>
                    <img src="img/logos/node.png" alt="">
                </div>
                <div class="card">
                    <h4>Python</h4>
                    <img src="img/logos/python.png" alt="">
                </div>
                <div class="card">
                    <h4>C#</h4>
                    <img src="img/logos/csharp.png" alt="">
                </div>
                <div class="card">
                    <h4>Ruby</h4>
                    <img src="img/logos/ruby.png" alt="">
                </div>
                <div class="card">
                    <h4>PHP</h4>
                    <img src="img/logos/php.png" alt="">
                </div>
                <div class="card">
                    <h4>Scala</h4>
                    <img src="img/logos/scala.png" alt="">
                </div>
                <div class="card">
                    <h4>Clojure</h4>
                    <img src="img/logos/clojure.png" alt="">
                </div>
            </div>
        </section>

    </div>
</div>