{{!-- <div class="loadingBar"></div>
<div class="surface-scrollOverlay"></div> --}}
<div class="home container-main is-fullhd">
    <div class="slices">
        <section class="hero css-czj4x5" data-testid="bulma_hero"
            style="background-color:#0069ff;background-image:url(/images/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);padding-bottom:-2rem;">
            <div class=" hero-body">
                <div class="container">
                    <div class="css-fvx1ke e7hmhos0">
                        <h1 class="h1 white hero-title css-wpp74j title" data-testid="hero_heading">Welcome to the
                            Push Rollout</h1>
                        <p class="large white css-wpp74j subtitle" data-testid="hero_subheading">We make it simple to
                            launch in the push messaging enggament,scale up as you grow – with an intuitive control
                            panel, predictable
                            pricing, team accounts, and more.</p>
                    </div>
                    <div>
                        <div class="card css-1hugv3f" data-testid="hero_box">
                            <div class="card-header-title css-hyfkp">
                                <h5 class="h5 darkblue css-wpp74j title" data-testid="hero_box_title">Start Now Seconds
                                </h5>
                            </div>
                            <div class="card-content">
                                <form class="form-align-left css-12sjm0v e7hmhos2"
                                    action="https://pushgeek.com/register" method="post">
                                    <span class="form-wrapper">
                                        <span class="error-text"></span>
                                        <input type="text" aria-label="signup button" minlength="2" name="user[name]"
                                            placeholder="First Name" required="">
                                        <input type="email" aria-label="email" name="user[email]"
                                            placeholder="Email Address" required="">
                                        <input type="password" aria-label="password" minlength="8" name="user[password]"
                                            placeholder="Password" required="">
                                        <button tabindex="0" type="submit" class="css-32erla is-primary button">Sign up
                                            with email</button>
                                    </span>
                                </form>
                            </div>
                            <div class="css-1kwjdzk e7hmhos3">
                                <button tabindex="0" formaction="/auth/google" id="Sign up with Google"
                                    aria-label="Sign up with Google" class="css-re7ijt button">
                                    <img data-src="/images/8d18ab05-0db4-4fd7-95d1-c5fbc4b83fc2_icon-google.svg"
                                        src="/images/8d18ab05-0db4-4fd7-95d1-c5fbc4b83fc2_icon-google.svg"
                                        alt="Sign up with Google"
                                        class="null blur-up css-1pq2esu ls-is-cached lazyloaded">Sign up with
                                    Google</button>
                                <button tabindex="0" formaction="/auth/github" id="github_button"
                                    aria-label="signup_button" class="css-18czx2n button"><img
                                        data-src="/images/ae808fab-d9d7-458e-b368-05344b7ad308_icon-github.svg"
                                        src="/images/ae808fab-d9d7-458e-b368-05344b7ad308_icon-github.svg" alt="icon"
                                        class="null blur-up css-1pq2esu ls-is-cached lazyloaded"></button>
                            </div>
                        </div>
                        <div class="css-1t9copt e7hmhos4">
                            <p>By signing up you agree to the <a href="/legal/terms-of-service-agreement">Terms of
                                    Service.</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section css-1nm38x2" id="logogrid" style="background-color:#f3f5f9">
            <div class="container">
                <h6 class="h6 darkblue css-8l5wop title">Innovative businesses trust DigitalOcean</h6>
                <div class="container css-6lpvbd">
                    <div id="logogrid-logos" class="no-scroll css-qw5h2l"><img
                            data-src="/images/591cf605-46aa-4a7b-8af5-90036c252c97_docker-bab60eeb.svg"
                            src="/images/591cf605-46aa-4a7b-8af5-90036c252c97_docker-bab60eeb.svg" alt="Docker logo"
                            class="blur-up css-1gdkq7t ls-is-cached lazyloaded" width="140" height="77"><img
                            data-src="/images/da244a8e-2546-47b1-aae2-b9824c657708_gitlab-166e2067.svg"
                            src="/images/da244a8e-2546-47b1-aae2-b9824c657708_gitlab-166e2067.svg" alt="GitLab logo"
                            class="blur-up css-1gdkq7t ls-is-cached lazyloaded" width="101" height="77"><img
                            data-src="/images/b3f152c0-5465-45ba-80ab-2cdd258e6bee_slack-e20293da.svg"
                            src="/images/b3f152c0-5465-45ba-80ab-2cdd258e6bee_slack-e20293da.svg" alt="Slack logo"
                            class="blur-up css-1gdkq7t ls-is-cached lazyloaded" width="127" height="77"><img
                            data-src="/images/9351f07e-afbc-439a-a75f-3eca82be9c0e_hashicorp-4431df79.svg"
                            src="/images/9351f07e-afbc-439a-a75f-3eca82be9c0e_hashicorp-4431df79.svg"
                            alt="HashiCorp logo" class="blur-up css-1gdkq7t ls-is-cached lazyloaded" width="156"
                            height="77"><img data-src="/images/01ff74d1-79dd-4f18-888f-4a93a976e61d_wework-be6eab32.svg"
                            src="/images/01ff74d1-79dd-4f18-888f-4a93a976e61d_wework-be6eab32.svg" alt="Wework logo"
                            class="blur-up css-1gdkq7t ls-is-cached lazyloaded" width="133" height="77"><img
                            data-src="/images/1583c145-22f8-402c-96f8-3af919a0df25_splunklogo.svg"
                            src="/images/1583c145-22f8-402c-96f8-3af919a0df25_splunklogo.svg" alt="Splunk logo"
                            class="blur-up css-1gdkq7t ls-is-cached lazyloaded" width="122" height="77"></div>
                </div><a url="https://www.digitalocean.com/business/" id="logogrid-cta" class="medium arrow css-opqcue"
                    href="/business/">See business solutions</a>
            </div>
        </section>
        <section class="section css-1chpxny"
            style="background-image: url(&quot;/images/b4ba92a9-0956-484b-9a3f-68ef4d550fd4_bg-home-cta.svg&quot;); background-color: rgb(0, 105, 255);">
            <div class="container">
                <div class="columns is-multiline">
                    <div class="column is-7">
                        <h1 class="h2 css-1pq1nqy title" style="color: #fff;">Get started now</h1>

                    </div>
                    <div class="css-1f32n9w column">
                        <div class="buttons css-n387jl"><a href="https://pushgeek.com/register" tabindex="0"
                                url="https://pushgeek.com/register" class="css-lk2xbw is-white button"
                                style="margin-left: -5px !important;margin-bottom:-3px !important;align-items: center !important;justify-content: center !important;">Create
                                your account</a></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>