<section class="section css-11utet8" id="ListGrid" style="background-color:#ffffff">
    <div class="container">

        <h2 class="h2 darkblue css-rxs6bw title" data-testid="heading">Built for business</h2>

        <div class="row">
            <div class="css-1hs9qzb e1mof8s00">



                <div class="css-1gw58lx e1mof8s02 p-10 border border-r-gray"><img
                        data-src="https://images.prismic.io/www-static/7531f96f-5414-42c2-ba65-0d705769c62f_icon-check-shield.svg?auto=compress,format"
                        src="https://images.prismic.io/www-static/7531f96f-5414-42c2-ba65-0d705769c62f_icon-check-shield.svg?auto=compress,format"
                        alt="image" class="blur-up css-14noyus ls-is-cached lazyloaded" width="48"
                        style="margin:0px 30px 0px 0px;min-width:auto;max-width:40px;align-items:flex-end">
                    <div>
                        <h5 class="h5 darkblue css-1xwn7zv title" data-testid="item_title">Reliable platform
                        </h5>
                        <p class="darkgrey css-1j3zm3y subtitle" data-testid="item_text" style="margin:10px 0">
                            More than
                            100,000 developer teams worldwide trust DigitalOcean to support their business with
                            a 99.99%
                            uptime SLA for all&nbsp;services.</p><a style="color:black !important" url="https://www.digitalocean.com/trust/"
                            data-testid="item_link_text" class="medium arrow css-l7irto" href="/trust/">Security</a>
                    </div>
                </div>


                <div class="css-1gw58lx e1mof8s02 p-10 border border-r-gray"><img
                        data-src="https://images.prismic.io/www-static/4083b409-5e65-4403-86a8-7ed8f501a0d8_icon-task-list-multiple.svg?auto=compress,format"
                        src="https://images.prismic.io/www-static/4083b409-5e65-4403-86a8-7ed8f501a0d8_icon-task-list-multiple.svg?auto=compress,format"
                        alt="image" class="blur-up css-14noyus ls-is-cached lazyloaded" width="48"
                        style="margin:0px 30px 0px 0px;min-width:auto;max-width:40px;align-items:flex-end">
                    <div>
                        <h5 class="h5 darkblue css-1xwn7zv title" data-testid="item_title">Predictable pricing
                        </h5>
                        <p class="darkgrey css-1j3zm3y subtitle" data-testid="item_text" style="margin:10px 0">
                            Leave complex
                            pricing structures behind. Always know what you’ll pay per month with a flat,
                            industry-leading
                            pricing&nbsp;structure.</p><a style="color:black !important" url="https://www.digitalocean.com/pricing/"
                            data-testid="item_link_text" class="medium arrow css-l7irto" href="/pricing/">Pricing</a>
                    </div>
                </div>


                <div class="css-1gw58lx e1mof8s02 p-10 border border-r-gray"><img
                        data-src="https://images.prismic.io/www-static/fccb0e1b-4de3-4b58-9f3e-5455f5c3aeae_icon-headphones-customer-support-human.svg?auto=compress,format"
                        src="https://images.prismic.io/www-static/fccb0e1b-4de3-4b58-9f3e-5455f5c3aeae_icon-headphones-customer-support-human.svg?auto=compress,format"
                        alt="image" class="blur-up css-14noyus ls-is-cached lazyloaded" width="48"
                        style="margin:0px 30px 0px 0px;min-width:auto;max-width:40px;align-items:flex-end">
                    <div>
                        <h5 class="h5 darkblue css-1xwn7zv title" data-testid="item_title">World-class service
                        </h5>
                        <p class="darkgrey css-1j3zm3y subtitle" data-testid="item_text" style="margin:10px 0">
                            Free
                            around-the-clock technical support for all customers, with additional benefits for
                            premium
                            support subscribers. You’ll feel the&nbsp;love.</p><a style="color:black !important"
                            url="https://www.digitalocean.com/products/support/" data-testid="item_link_text"
                            class="medium arrow css-l7irto" href="/products/support/">Support</a>
                    </div>
                </div>


                <div class="css-1gw58lx e1mof8s02 p-10 border border-r-gray"><img
                        data-src="https://images.prismic.io/www-static/1c791b14-833f-4190-a865-a55e11055fc0_icon-certified-certificate.svg?auto=compress,format"
                        src="https://images.prismic.io/www-static/1c791b14-833f-4190-a865-a55e11055fc0_icon-certified-certificate.svg?auto=compress,format"
                        alt="image" class="blur-up css-14noyus ls-is-cached lazyloaded" width="48"
                        style="margin:0px 30px 0px 0px;min-width:auto;max-width:40px;align-items:flex-end">
                    <div>
                        <h5 class="h5 darkblue css-1xwn7zv title" data-testid="item_title">Security and
                            compliance
                        </h5>
                        <p class="darkgrey css-1j3zm3y subtitle" data-testid="item_text" style="margin:10px 0">
                            Keep
                            your
                            data protected. Our platform is certified on multiple international standards,
                            including
                            SOC 1
                            Type II, SOC 2 Type II, ISO/IEC 27001, and PCI-DSS.</p><a style="color:black !important"
                            url="https://www.digitalocean.com/trust/certification-reports/" data-testid="item_link_text"
                            class="medium arrow css-l7irto" href="/trust/certification-reports/">Compliance</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>