<div class="row">
    <div class="col s6 offset-s6">
        <div class="container">
            <h3>What is a Self-XSS scam?</h3>
            <p style="font-size:22px;font-color:#777;margin-top:5vh;margin-bottom:5vh;">
                A Self-XSS scam on PushGeek tricks you into compromising your account by claiming to provide a way to
                log into
                someone else's
                PushGeek account, or some other kind of reward, after pasting a special code or link into your web
                browser. You
                might see
                this message on a friend's timeline after their own account was compromised by the scammer. Never click
                a link
                on PushGeek
                that goes to a website you don't know and trust. This kind of scam can often use your timeline to spread
                itself
                to your friends
                and may also include links to malicious software or suspicious websites. Learn how to recognize scams on
                PushGeek to protect
                your account from being compromised
            </p>
        </div>
    </div>
</div>