#session secret SESSION_SECRET = 
SESSION_SECRET=
HOSTNAME=localhost
APP_HOSTNAME=localhost
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DATABASE=web-push
VAPID_PUBLIC_KEYS=Generated_Public_Key
VAPID_PRIVATE_KEYS=Generated_Private_Key
MAIL_HOST=smtp.Host_Name
MAIL_PORT=smtp_port
MAIL_USER=smtp_username
MAIL_PASS=smtp_password
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DATABASE=
REDIS_PASSWORD=
REDIS_URL=redis://127.0.0.1:6379
# MINIO_ENDPOIN=play.min.io
MINIO_ENDPOIN=127.0.0.1
MINIO_PORT=9000
MINIO_SSL_STATUS=true
MINIO_ACCESS_KEY=Q3AM3UQ867SPQQA43P2F
MINIO_SECRET_KEY=zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG
BULLMQ=false