

<div class="footer css-1v3edka">
    <div class="container" style="overflow:hidden;">
        <div class="css-thh2a5 columns is-mobile is-multiline" is-multiline="false">
            <div class="column is-half-mobile">
                <h6 class="css-168iack title text-center">Company</h6>
                <ul class="css-1lj2bxa">
                    <li><a url="https://www.digitalocean.com/about/" href="/about/">About</a></li>
                    <li><a rel="nofollow" url="https://www.digitalocean.com/about/leadership/"
                            href="/about/leadership/">Leadership</a></li>
                    <li><a url="https://www.digitalocean.com/blog" href="/blog/">Blog</a></li>
                    <li><a url="https://www.digitalocean.com/careers/" href="/careers/">Careers</a></li>
                    <li><a url="https://www.digitalocean.com/partners/" href="/partners/">Partners</a></li>
                    <li><a url="https://www.digitalocean.com/referral-program/" href="/referral-program/">Referral
                            Program</a></li>
                    <li><a rel="nofollow" url="https://www.digitalocean.com/press/" href="/press/">Press</a></li>
                    <li><a url="https://www.digitalocean.com/legal/" href="/legal/">Legal</a></li>
                    <li><a url="https://www.digitalocean.com/trust" href="/trust/">Trust Platform</a></li>
                </ul>
            </div>
            <div class="column">
                <h6 class="css-168iack title" style="margin-left:3rem;">Products</h6>
                <ul class="css-1lj2bxa">
                    <li><a url="https://www.digitalocean.com/products/" href="/products/">Products Overview</a></li>

                    <li><a url="https://www.digitalocean.com/products/tools-and-integrations/"
                            href="/products/tools-and-integrations/">Tools &amp; Integrations</a></li>
                    <li><a href="https://developers.digitalocean.com/documentation/"
                            url="https://developers.digitalocean.com/documentation/">API</a></li>
                    <li><a url="https://www.digitalocean.com/pricing/" href="/pricing/">Pricing</a></li>
                    <li><a href="https://www.digitalocean.com/docs/"
                            url="https://www.digitalocean.com/docs/">Documentation</a></li>
                    <li><a href="https://www.digitalocean.com/docs/release-notes/"
                            url="https://www.digitalocean.com/docs/release-notes/">Release Notes</a></li>
                </ul>
            </div>
            <div class="column is-half-mobile">
                <h6 class="css-168iack title text-center">Community</h6>
                <ul class="css-1lj2bxa">
                    <li><a href="https://www.digitalocean.com/community/tutorials/"
                            url="https://www.digitalocean.com/community/tutorials/">Tutorials</a></li>
                    <li><a href="https://www.meetup.com/pro/digitalocean/?utm_source=do_www" rel="nofollow"
                            url="https://www.meetup.com/pro/digitalocean/?utm_source=do_www">Meetups</a></li>
                    <li><a href="https://www.digitalocean.com/community/questions/"
                            url="https://www.digitalocean.com/community/questions/">Q&amp;A</a></li>
                    <li><a href="https://www.digitalocean.com/community/pages/write-for-digitalocean"
                            url="https://www.digitalocean.com/community/pages/write-for-digitalocean">Write for
                            Donations</a></li>
                    <li><a url="https://www.digitalocean.com/research/" href="/research/">Research Program</a></li>
                    <li><a rel="nofollow" url="https://www.digitalocean.com/currents/" href="/currents/">Currents
                            Research</a></li>
                    <li><a rel="nofollow" url="https://www.digitalocean.com/open-source/" href="/open-source/">Open
                            Source</a></li>
                </ul>
            </div>
            <div class="column">
                <h6 class="css-168iack title text-center">Solutions</h6>
                <ul class="css-1lj2bxa">
                    <li><a url="https://www.digitalocean.com/solutions/web-mobile-apps/"
                            href="/solutions/web-mobile-apps/">Web &amp; Mobile Apps</a></li>

                    <li><a url="https://www.digitalocean.com/solutions/startups/"
                            href="/solutions/startups/">Startups</a></li>
                    <li><a url="https://www.digitalocean.com/solutions/saas/" href="/solutions/saas/">SaaS Solutions</a>
                    </li>
                    <li><a url="https://www.digitalocean.com/business/" href="/business/">Business Solutions</a></li>
                </ul>
            </div>
            <div class="column is-half-mobile">
                <h6 class="css-168iack title text-center">Contact</h6>
                <ul class="css-1lj2bxa">
                    <li><a href="https://www.digitalocean.com/support/"
                            url="https://www.digitalocean.com/support/">Support</a></li>
                    <li><a url="https://www.digitalocean.com/company/contact/sales/"
                            href="/company/contact/sales/">Sales</a></li>
                    <li><a rel="nofollow" url="https://www.digitalocean.com/company/contact/#abuse"
                            href="/company/contact/#abuse">Report Abuse</a></li>
                    <li><a href="https://status.digitalocean.com/" rel="nofollow"
                            url="https://status.digitalocean.com/">System Status</a></li>
                </ul>
            </div>
        </div>
        <div class="css-thh2a5 columns is-multiline" is-multiline="false">

            <div class="css-1i0f5vc column is-12">

                <div style="display: flex; justify-content: center; flex-wrap: wrap;">
                    {{!-- <img
                        style="height: 120px;margin-bottom:-72px;padding-bottom: 16px;"
                        data-src="./images/apple-touch-icon.png" src="./images/apple-touch-icon.png"
                        alt="Digital Ocean logo" class="null blur-up css-1pq2esu ls-is-cached lazyloaded"> --}}
                    <p style="height:20px !important;">©
                        <script type="text/javascript">
                            document.write(new Date().getFullYear());

                        </script> Pushgeek. All rights reserved.</p>
                </div>
                <ul class="css-1jnypiz">
                    <li><a href="https://twitter.com/digitalocean" rel="nofollow" id="Twitter"
                            url="https://twitter.com/digitalocean"><img data-src="/images/twitter.svg"
                                src="/images/twitter.svg" alt="Twitter"
                                class="null blur-up css-1pq2esu ls-is-cached lazyloaded"></a></li>
                    <li><a href="https://www.facebook.com/DigitalOceanCloudHosting" rel="nofollow" id="Facebook"
                            url="https://www.facebook.com/DigitalOceanCloudHosting"><img data-src="/images/facebook.svg"
                                src="/images/facebook.svg" alt="Facebook"
                                class="null blur-up css-1pq2esu ls-is-cached lazyloaded"></a></li>
                    <li><a href="https://www.instagram.com/thedigitalocean/" rel="nofollow" id="Instagram"
                            url="https://www.instagram.com/thedigitalocean/"><img data-src="/images/instagram.svg"
                                src="/images/instagram.svg" alt="Instagram"
                                class="null blur-up css-1pq2esu ls-is-cached lazyloaded"></a></li>
                    <li><a href="https://www.youtube.com/user/DigitalOceanVideos" rel="nofollow" id="Youtube"
                            url="https://www.youtube.com/user/DigitalOceanVideos"><img data-src="/images/youtube.svg"
                                src="/images/youtube.svg" alt="Youtube"
                                class="null blur-up css-1pq2esu ls-is-cached lazyloaded"></a></li>
                    <li><a href="https://www.linkedin.com/company/digitalocean/" rel="nofollow" id="LinkedIn"
                            url="https://www.linkedin.com/company/digitalocean/"><img data-src="/images/linkedin.svg"
                                src="/images/linkedin.svg" alt="LinkedIn"
                                class="null blur-up css-1pq2esu ls-is-cached lazyloaded"></a></li>
                    <li><a href="https://dev.to/digitalocean" rel="nofollow" id="Dev"
                            url="https://dev.to/digitalocean"><img data-src="/images/dev.svg" src="/images/dev.svg"
                                alt="Dev" class="null blur-up css-1pq2esu ls-is-cached lazyloaded"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="fixed-action-btn" id="scroll-top" style="display: none;">
    <a class="btn-floating btn-large">
        <svg style="width:30px;height:30px;margin-top:15px;" viewBox="0 0 24 24">
            <path fill="#ffffff" d="M19.78,11.78L18.36,13.19L12,6.83L5.64,13.19L4.22,11.78L12,4L19.78,11.78Z"></path>
        </svg>
    </a>
</div>