{{!-- <div id="progress" class="waiting">
    <dl>
        <dt></dt>
        <dd></dd>
    </dl>
</div> --}}
{{!-- <nav class="darknav darken-5 navbar" style="position: -webkit-sticky;position: sticky;top:0;z-index:999;">
    <div class="container">
        <div class="nav-wrapper"> --}}

{{!-- <a href="/home" class="brand-logo" style="color:white !important;"><img src="/images/Pushgeek.png"
                    alt="PushGeek" class="photo" style="height:10vh;width:55%;"></a> --}}
{{!--  --}}
{{!-- <a href="#" data-activates="main-menu" aria-label="main-menu" class="button-collapse show-on-large"
                alt="side menu bar" style="color:white !important;z-index:539049">
                <i class="fa fa-bars"></i>
            </a> --}}
<!-- Right NAV -->
<ul>
    {{#if user}}
    <li>
        <a href="/dashboard" style="color:white !important;">Welcome
            <i class="fa fa-user" style="font-size:15px !important;color:white !important;"></i>
            {{user.firstName}}</a>
    </li>
    <li>
        <a href="/auth/logout" style="color:white !important;">
            <i class="fas fa-sign-out-alt" style="font-size:15px !important;color:white !important;"></i>
            <button tabindex="0" type="submit" class="css-32erla is-primary btn btn-primary">Logout</button></a>
    </li>
    <li>
        <a href="/notification">
            <i class="fa fa-bell"></i><button tabindex="0" type="submit"
                class="css-32erla is-primary btn btn-primary">Notifications</button></a>
    </li>
    {{else}}
    <li>
        <a href="/login"><button tabindex="0" type="submit"
                class="css-32erla is-primary btn btn-primary">Login</button></a>
    </li>
    {{/if}}
</ul>
<!--SIDE Menu -->
{{!-- <ul class="side-nav" id="main-menu" style="z-index:999;">
                {{#if user}} {{else}}
                <li>
                    <a href="/auth/google" class="btn white btn-circle darken-1 shake-top" style="color:#666;height:46px;padding-top:5px;letter-spacing: 1.5px;">Login With
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26" height="26" viewBox="0 0 48 48" style="fill:#000000;">
                            <g id="surface1">
                                <path style=" fill:#FFC107;" d="M 43.609375 20.082031 L 42 20.082031 L 42 20 L 24 20 L 24 28 L 35.304688 28 C 33.652344 32.65625 29.222656 36 24 36 C 17.371094 36 12 30.628906 12 24 C 12 17.371094 17.371094 12 24 12 C 27.058594 12 29.84375 13.152344 31.960938 15.039063 L 37.617188 9.382813 C 34.046875 6.054688 29.269531 4 24 4 C 12.953125 4 4 12.953125 4 24 C 4 35.046875 12.953125 44 24 44 C 35.046875 44 44 35.046875 44 24 C 44 22.660156 43.863281 21.351563 43.609375 20.082031 Z "></path>
                                <path style=" fill:#FF3D00;" d="M 6.304688 14.691406 L 12.878906 19.511719 C 14.65625 15.109375 18.960938 12 24 12 C 27.058594 12 29.84375 13.152344 31.960938 15.039063 L 37.617188 9.382813 C 34.046875 6.054688 29.269531 4 24 4 C 16.316406 4 9.65625 8.335938 6.304688 14.691406 Z "></path>
                                <path style=" fill:#4CAF50;" d="M 24 44 C 29.164063 44 33.859375 42.023438 37.410156 38.808594 L 31.21875 33.570313 C 29.210938 35.089844 26.714844 36 24 36 C 18.796875 36 14.382813 32.683594 12.71875 28.054688 L 6.195313 33.078125 C 9.503906 39.554688 16.226563 44 24 44 Z "></path>
                                <path style=" fill:#1976D2;" d="M 43.609375 20.082031 L 42 20.082031 L 42 20 L 24 20 L 24 28 L 35.304688 28 C 34.511719 30.238281 33.070313 32.164063 31.214844 33.570313 C 31.21875 33.570313 31.21875 33.570313 31.21875 33.570313 L 37.410156 38.808594 C 36.972656 39.203125 44 34 44 24 C 44 22.660156 43.863281 21.351563 43.609375 20.082031 Z "></path>
                            </g>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="/auth/facebook" class="btn white btn-circle darken-1 shake-top" style="color:#666;height:46px;padding-top:5px;letter-spacing: 1.5px;">LOGIN WITH
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26" height="26" viewBox="0 0 48 48" style="fill:#000000;">
                            <g id="surface1">
                                <path style=" fill:#3F51B5;" d="M 42 37 C 42 39.761719 39.761719 42 37 42 L 11 42 C 8.238281 42 6 39.761719 6 37 L 6 11 C 6 8.238281 8.238281 6 11 6 L 37 6 C 39.761719 6 42 8.238281 42 11 Z "></path>
                                <path style=" fill:#FFFFFF;" d="M 34.367188 25 L 31 25 L 31 38 L 26 38 L 26 25 L 23 25 L 23 21 L 26 21 L 26 18.589844 C 26.003906 15.082031 27.460938 13 31.59375 13 L 35 13 L 35 17 L 32.714844 17 C 31.105469 17 31 17.601563 31 18.722656 L 31 21 L 35 21 Z "></path>
                            </g>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="/auth/twitter" class="btn white btn-circle darken-1 shake-top" style="color:#666;height:46px;padding-top:5px;letter-spacing: 1.5px;">LOGIN WITH
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26" height="26" viewBox="0 0 48 48" style="fill:#000000;">
                            <g id="surface1">
                                <path style=" fill:#03A9F4;" d="M 42 12.429688 C 40.675781 13.015625 39.253906 13.40625 37.753906 13.589844 C 39.277344 12.683594 40.453125 11.238281 41.003906 9.53125 C 39.574219 10.371094 37.992188 10.984375 36.3125 11.308594 C 34.96875 9.882813 33.050781 9 30.925781 9 C 26.847656 9 23.539063 12.277344 23.539063 16.320313 C 23.539063 16.890625 23.605469 17.449219 23.730469 17.988281 C 17.59375 17.683594 12.148438 14.765625 8.507813 10.335938 C 7.867188 11.417969 7.507813 12.683594 7.507813 14.023438 C 7.507813 16.5625 8.808594 18.800781 10.792969 20.117188 C 9.582031 20.082031 8.441406 19.742188 7.445313 19.203125 C 7.445313 19.226563 7.445313 19.257813 7.445313 19.289063 C 7.445313 22.839844 9.992188 25.796875 13.367188 26.472656 C 12.75 26.640625 12.097656 26.734375 11.425781 26.734375 C 10.949219 26.734375 10.484375 26.679688 10.035156 26.597656 C 10.972656 29.5 13.699219 31.621094 16.933594 31.683594 C 14.402344 33.644531 11.21875 34.820313 7.757813 34.820313 C 7.160156 34.820313 6.574219 34.785156 5.996094 34.714844 C 9.269531 36.785156 13.152344 38 17.320313 38 C 30.90625 38 38.339844 26.84375 38.339844 17.164063 C 38.339844 16.847656 38.328125 16.53125 38.3125 16.222656 C 39.761719 15.195313 41.011719 13.90625 42 12.429688 "></path>
                            </g>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="/auth/pinterest" class="btn white btn-circle darken-1 shake-top" style="color:#666;height:46px;padding-top:5px;letter-spacing: 1.5px;">LOGIN WITH
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26" height="26" viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;;fill:#000000;">
                            <circle style="fill:#D32F2F;" cx="24" cy="24" r="20"></circle>
                            <path style="fill:#FFFFFF;" d="M19.562,27c0-3.329-0.562-4.482-0.562-5.788C19,18.243,21.131,18,22.032,18	C23.316,18,25,18.871,25,20.5c0,2.371-2,2.671-2,2.671S23,24,23,25.46C23,27,23.372,29,26.123,29C30.537,29,31,22.848,31,21.163	C31,18.834,29.51,14,24.213,14C17.148,14,16,20.313,16,22c0,0.722,0.132,2.122,0.269,2.667c2.106,0.52,1.615,2.375,1.044,2.895	C16.484,28.328,13,28.477,13,21.325C13,14.513,19.072,11,24.402,11C29.474,11,35,14.502,35,21.246	c0,6.018-4.327,10.757-8.872,10.757c-2.728,0-4.175-2.248-4.175-2.248C21.953,34,18.495,40.083,18,41C18,41,19.562,33.146,19.562,27	z"></path>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="/auth/instagram" class="btn white btn-circle darken-1 shake-top" style="color:#666;height:46px;padding-top:5px;letter-spacing: 1.5px;">LOGIN WITH
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26" height="26" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;;fill:#000000;">
                            <linearGradient id="SVGID_1__43625" gradientUnits="userSpaceOnUse" x1="32" y1="6.6667" x2="32" y2="57.8724" spreadMethod="reflect">
                                <stop offset="0" style="stop-color:#1A6DFF"></stop>
                                <stop offset="1" style="stop-color:#C822FF"></stop>
                            </linearGradient>
                            <path style="fill:url(#SVGID_1__43625);" d="M44,57H20c-7.168,0-13-5.832-13-13V20c0-7.168,5.832-13,13-13h24c7.168,0,13,5.832,13,13v24  C57,51.168,51.168,57,44,57z M20,9C13.935,9,9,13.935,9,20v24c0,6.065,4.935,11,11,11h24c6.065,0,11-4.935,11-11V20  c0-6.065-4.935-11-11-11H20z"></path>
                            <linearGradient id="SVGID_2__43625" gradientUnits="userSpaceOnUse" x1="32" y1="18.1667" x2="32" y2="45.6793" spreadMethod="reflect">
                                <stop offset="0" style="stop-color:#6DC7FF"></stop>
                                <stop offset="1" style="stop-color:#E6ABFF"></stop>
                            </linearGradient>
                            <path style="fill:url(#SVGID_2__43625);" d="M32,45c-7.168,0-13-5.832-13-13c0-7.168,5.832-13,13-13c7.168,0,13,5.832,13,13  C45,39.168,39.168,45,32,45z M32,23c-4.962,0-9,4.038-9,9c0,4.963,4.038,9,9,9c4.963,0,9-4.037,9-9C41,27.038,36.963,23,32,23z"></path>
                            <linearGradient id="SVGID_3__43625" gradientUnits="userSpaceOnUse" x1="46" y1="12.75" x2="46" y2="23.0487" spreadMethod="reflect">
                                <stop offset="0" style="stop-color:#6DC7FF"></stop>
                                <stop offset="1" style="stop-color:#E6ABFF"></stop>
                            </linearGradient>
                            <circle style="fill:url(#SVGID_3__43625);" cx="46" cy="18" r="3"></circle>
                        </svg>
                    </a>
                </li>
                {{/if}}
                <li>
                    <a href="/stories/?pageNo=1&size=6" class="btn grey btn-circle darken-4">
                        Public Stories
                        <i class="fa fa-book white right m-4 shake-top"></i>
                    </a>
                </li>
                <li class="divider"></li>
                {{#if user}}
                <li>
                    <a href="/dashboard">
                        <i class="fa fa-cog"></i> Dashboard</a>
                </li>
                <li>
                    <a href="/stories/my">
                        <i class="fa fa-user"></i> My Stories</a>
                </li>
                <li>
                    <a href="/auth/logout">
                        <i class="fas fa-sign-out-alt"></i> Logout</a>
                </li>
                {{else}} {{/if}}
            </ul> --}}
{{!-- </div>
    </div>
</nav> --}}